@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
}

.gradient-one {
  background-image: linear-gradient(
    to right,
    #904e95,
    #e96443
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.boxshadow-one {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#boxshadow-two {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.boxshadow-two {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
